<h1><%= @mountain.name %></h1>

<%= image_tag @mountain.image, :class => 'feature' %>

<ul>
  <li>Name: <%= @mountain.name %></li>
  <li>Country: <%= @mountain.country %></li>
  <li>Cuty: <%= @mountain.city %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit Mountain', edit_mountain_path(@mountain.id) %>
  <%= link_to 'Delete Mountain', mountain_path(@mountain.id), :method => 'delete' %>
</div>